<h1>Listing publications</h1>

<form id='publications search-form'>
  <h2>Search restrictions</h2>
  Title includes words:
  <input type='text' name='title' value= "<%=params[:title]  %>" ><br>
  Authors includes words:
  <input type='text' name='author' value= "<%=params[:author]  %>"><br>
  publication date:
  <input type='text' name='date' value= "<%=params[:date]  %>"><br>
  <input type="submit" value="Submit">
</form>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>First Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= link_to publication.title, publication %></td>
        <td><%= publication.date %></td>
        <td> <%= publication.authors[0].last_name %> </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
