
<h1 class=' panel font-libre'>Publications</h1>
<div class=' panel clear-left margin-1'>
  <%= form_tag('/publications', method: :get) do %>
    <div class='panel panel-header'>
      <h3>Sort by:</h3>
      <ul class='display-flex-row'>
        <li class='no-list-styles margin-1'>
          <%= radio_button_tag 'sort_order', 'alpha' %>
          alphabetical

        </li>

        <li class='no-list-styles margin-1'>
          <%= radio_button_tag 'sort_order', 'citations' %>
          citations count

        </li>

        <li class='no-list-styles margin-1'>
          <%= radio_button_tag 'sort_order', 'date' %>
          date
        </li>
        <SCRIPT TYPE="text/javascript">
          var sort_order_setting = '<%=j params[:sort_order] || "" %>';
          console.log(sort_order_setting)
          $('#' + sort_order_setting ).attr('checked', 'checked')
        </SCRIPT>
      </ul>

      <ul class='display-flex-row'>
        <%= fields_for :search_params do |sp| %>
        <% params[:search_params] = params[:search_params] || {} %>

          <li class='no-list-styles margin-1'>
            title: <%= sp.text_field :title, :value => params[:search_params][:title] %>
            author: <%= sp.text_field :author, :value => params[:search_params][:author] %>
            date: <%= sp.text_field :date, :value => params[:search_params][:date] %>
            topic: <%= sp.text_field :topic, :value => params[:search_params][:topic] %>
            <%= sp.submit "submito" %>
          </li>
        <% end %>
      </ul>

    </div>

  <% end %>

  <!--  -->
  <div class="overflow">
    <table class="table ">
      <thead>
        <tr >
          <th>Title</th>
          <th>Date</th>
          <th>Citation count</th>
          <th>First Author</th>
        </tr>
      </thead>

      <tbody>
        <% @publications.each do |publication| %>
          <tr>
            <td><%= link_to publication.title, publication %></td>
            <td><%= publication.date %></td>
            <td><%= publication.citation_count ? publication.citation_count : 'unknown' %></td>
            <td> <%= publication.authors[0].last_name %> </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<%= link_to 'New Publication', new_publication_path %>

</div>