<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @publication.date %>
</p>

<ul>
  <h2>Authors:</h2>
  <% @authors.each do |auth| %>
    <a href='/authors/<%= auth.id %>'>
      <li class='hover-red'>
        <%= auth.first_name %> <%= auth.last_name %>
      </li>
    </a>

  <% end %>

</ul>
<p>
  <a href="http://scholar.google.com/scholar?hl=en&q=<%= @publication.title %>"> google scholar link: <%= @publication.title %> </a>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>

<svg id="publication-show" class='modalize bordered'/>

<%= javascript_tag defer: 'defer' do -%>

  var id = <%= escape_javascript(@publication.id.to_s)%>;
  console.log(id)
  $.ajax({
    url: "/publications/viz/" + id.toString()
  }).done(function(data){

    PubForceViz(data);
  })

<% end -%>