<h1 class=' panel font-libre'>Topics</h1>
<div class=' panel clear-left margin-1'>
  <form class=' '>
    <div class=' panel panel-header'>
      <h3>Sort by:</h3>
      <ul class='display-flex-row'>
          <li class='no-list-styles '><input type="radio" name="sort_order" value="alpha" <%= "checked" if params[:sort_order] == 'alpha' %>>alpha</li>
          <li class='no-list-styles '><input type="radio" name="sort_order" value="publications" <%= "checked" if params[:sort_order] == 'publications' %>>count of linked publications</li>

      </ul>
      <input type="submit" value="Submit">
    </div>
    <div class=' panel panel-body'>
      <h3 class='clear-left'>Filter results:</h3>
      <ul class='display-flex-row'>
        <li class='float-left no-clear margin-1 no-list-styles'>Title includes words:
          <input type='text' name='title' value= "<%=params[:title]  %>" ><br>
        </li>

      </ul>
      <input type="submit" value="Submit">
    </div>
  </form>

  <div class='overflow'>
    <table class='table'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Linked articles</th>
          <th ></th>
        </tr>
      </thead>

      <tbody>
        <% @topics.each_with_index do |topic, i| %>
          <tr class=''>

            <td><%= link_to topic.title, topic %></td>
            <td><%= link_to (rand(100) + 10).to_s, topic %></td>


          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'New Topic', new_topic_path %>
</div>

