<%= javascript_include_tag 'd3.v3.js', 'data-turbolinks-track' => true %>
<div class='container'>
  <div class='row panel'>
    <div id='sidebar' class='col-sm-2 bordered'>
      <p>Click to highlight a group of animals.<br> The following are the groups proposed by various scientists to be exclusively conscious. See <a href='http://plato.stanford.edu/entries/consciousness-animal/#evolution'>Stanford Encyclopedia article</a></p>
      <ul>
          <li><div class='button' id='humans'>Humans</div></li>
          <li><div class='button' id='greatApes'>Apes</div></li>
          <li><div class='button' id='mammals'>Mammals</div></li>
          <li><div class='button' id='amniotes'>Amniotes</div></li>
          <li><div class='button' id='bigThree'>Big-Three</div></li>
          <li><div class='button' id='animals'>Animals</div></li>
      </ul>
    <div id='info-panel' class='panel '>

    </div>
    </div>
    <div id='svg-panel' class='col-sm-10 bordered'>

    </div>
<%= javascript_include_tag 'd3.v3.js', 'data-turbolinks-track' => true %>


<%= javascript_include_tag 'treeData.js', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'trait-mapping.js', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'force3.js', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'trait-map-switcher.js', 'data-turbolinks-track' => true %>










  </div>






</div>